{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* Initializes the name variable with a default value */ -}}
{{- $name := "Adrien Raffin-Caboisse" -}}
{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "adrien.raffin@sekoia.fr" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- /* update work related informations */ -}}
{{- $work := true -}}
{{- if hasKey . "work" -}}
{{-   $work = .work -}}
{{- else if $interactive -}}
{{-   $work = promptBool "Is this compter for work ? (write 'false' if not)" $work -}}
{{- end -}}

{{- /* update host type */ -}}
{{- $type := "server" -}}
{{- if hasKey . "type" -}}
{{-   $type = .type -}}
{{- else if $interactive -}}
{{-   $type = promptString "Host type (server):" $type -}}
{{- end -}}


{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  work: {{ $work }}
  type: "{{ type }}"

git:
  autoCommit: true
  autoPush: true
