[core]
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	st = status
	ci = commit
	ca = commit -S --amend
	pf = push --force-with-lease
	rb = !git fetch -p && git rebase -S -i origin/develop
	cp = cherry-pick
  dev = !git switch develop && git pull
  master = !git switch master && git pull
	br = branch
	co = checkout
	df = diff
	dc = diff --cached
	lg = log -p
	lol =  log --graph --pretty='%C(red)%h %C(green)%G? %<|(25,mtrunc)%C(yellow)%an %C(auto)%d %C(blue)%s'
	logl = log --graph --decorate --pretty=oneline --abbrev-commit
	lola =  log --graph --all --pretty='%C(red)%h %<|(25,mtrunc)%C(yellow)%an %C(auto)%d %C(blue)%s'
	ls = ls-files

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = 7FB60532DEBEAD6A
[push]
	default = current
[http]
	sslVerify = true
	sslCAinfo = /etc/ssl/cert.pem
[credential]
	helper = cache --timeout=3600
[url "git@github.com:"]
	insteadOf = https://github.com/
[rebase]
	autoStash = true
	autoSquash = true
[branch]
	sort = --committerdate
[column]
	ui = auto
