#!/bin/bash

# install packages

{{- if eq .chezmoi.osRelease.id "alpine" }}

for pkg in ripgrep fzf httpie kubectl fd gopass neovim; do
  apk add --no-cache $pkg
done

{{- else if eq .chezmoi.osRelease.id "arch" }}

sudo pacman -Sy --noconfirm ripgrep fzf httpie fd kubectl python-pip gopass kubectx neovim
pip install openstackclient

{{- else if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}

sudo apt update
for pkg in ripgrep fzf pip httpie kubernetes-client fd-find gopass neovim; do
  sudo apt install -y $pkg
done
pip install openstackclient

{{- end }}
