#!/bin/bash

# install packages

{{- if eq .chezmoi.osRelease.id "alpine" }}

for pkg in ripgrep fzf httpie kubectl fd gopass neovim; do
  apk add --no-cache $pkg
done

{{- else if eq .chezmoi.osRelease.id "arch" }}

sudo pacman -Sy --noconfirm ripgrep fzf httpie fd kubectl python-openstackclient gopass kubectx neovim

{{- else if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu")) }}

sudo apt install -y ripgrep fzf pip httpie kubernetes-client fd-find gopass neovim
pip install openstackclient

{{- end }}
