if [ ! -d /tmp/$USER ]; then
	mkdir /tmp/$USER 2>/dev/null
fi

source ~/.config/zsh/functions.zsh
source ~/.config/zsh/aliases.zsh
source ~/.config/zsh/env.zsh
source ~/.config/zsh/config.zsh

{{ if ne .type "container" -}}
if [ -z $DISPLAY ] && [ "$(tty)" = "/dev/tty1" ]; then
	exec sway
fi
{{- end }}

# load completion
[ -f /usr/share/fzf/key-bindings.zsh ] && source /usr/share/fzf/key-bindings.zsh
[ -f /usr/share/fzf/completion.zsh ] && source /usr/share/fzf/completion.zsh
#which gopass >/dev/null && source <(gopass completion zsh)
which kubectl >/dev/null && source <(kubectl completion zsh)
which minikube >/dev/null && source <(minikube completion zsh)

