# disable xwayland from the config file
#xwayland disable

# swaymsg -t get_outputs
{{- if eq .chezmoi.hostname "intercepteur" }}
output 'FMD Mi TV 0x00000001' mode 1920x1080@60.000Hz
{{- else }}
output eDP-1 pos 0 0 scale 1.8
output DP2 pos 2880 0
{{- end }}

# It will not be overwritten, so edit it as you like.
#
# Should you change your keyboard layout somewhen, delete
# this file and re-run i3-config-wizard(1).
#

# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# Modification de la présentation des fenêtres
default_border pixel

set $mod Mod4
#set $mod Mod1
#set $terminal st -f "Inconsolata:size=10"
set $terminal alacritty msg create-window || alacritty
set $lock "swaylock -c '#40A497'"

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

font pango:System San Francisco Display 9

# Personnalisation de touches dans la gestion d'énergie
bindsym --locked $mod+XF86Sleep systemctl suspend
bindsym $mod+XF86PowerOff systemctl hibernate

# start a terminal
bindsym $mod+Return exec $terminal

# kill focused window
bindsym $mod+Shift+A kill

# start dmenu (a program launcher)
bindsym $mod+d exec "wofi --show run"

# change focus
bindsym $mod+c focus left
bindsym $mod+t focus down
bindsym $mod+s focus up
bindsym $mod+r focus right

# move focused window
bindsym $mod+Shift+C move left
bindsym $mod+Shift+T move down
bindsym $mod+Shift+S move up
bindsym $mod+Shift+R move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, default)
bindsym $mod+u layout stacking
bindsym $mod+z layout tabbed
bindsym $mod+e layout default

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
# bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+q focus parent

# focus the child container
#bindcode $mod+d focus child
set $w1 "1"
set $w2 "2"
set $w3 "3"
set $w4 "4"
set $w5 "5"
set $w6 "6"
set $w7 "7"
set $w8 "8"
set $w9 "9"
set $w10 "10"

set $workspace1 workspace $w1
set $workspace2 workspace $w2
set $workspace3 workspace $w3
set $workspace4 workspace $w4
set $workspace5 workspace $w5
set $workspace6 workspace $w6
set $workspace7 workspace $w7
set $workspace8 workspace $w8
set $workspace9 workspace $w9
set $workspace10 workspace $w10

# switch to workspace
bindsym $mod+quotedbl $workspace1
bindsym $mod+guillemotleft $workspace2
bindsym $mod+guillemotright $workspace3
bindsym $mod+parenleft $workspace4
bindsym $mod+parenright $workspace5
bindsym $mod+at $workspace6
bindsym $mod+plus $workspace7
bindsym $mod+minus $workspace8
bindsym $mod+slash $workspace9
bindsym $mod+asterisk $workspace10

# bindsym $mod+1 workspace number 1
# bindsym $mod+2 workspace number 2
# bindsym $mod+3 workspace number 3
# bindsym $mod+4 workspace number 4
# bindsym $mod+5 workspace number 5
# bindsym $mod+6 workspace number 6
# bindsym $mod+7 workspace number 7
# bindsym $mod+8 workspace number 8
# bindsym $mod+9 workspace number 9
# bindsym $mod+0 workspace number 10

# move focused container to workspace
bindsym $mod+1 move container to $workspace1
bindsym $mod+2 move container to $workspace2
bindsym $mod+3 move container to $workspace3
bindsym $mod+4 move container to $workspace4
bindsym $mod+5 move container to $workspace5
bindsym $mod+6 move container to $workspace6
bindsym $mod+7 move container to $workspace7
bindsym $mod+8 move container to $workspace8
bindsym $mod+9 move container to $workspace9
bindsym $mod+0 move container to $workspace10


# reload the configuration file
bindsym $mod+Shift+X reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+O restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+E exit

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym c resize shrink width 10 px or 10 ppt
        bindsym t resize grow height 10 px or 10 ppt
        bindsym s resize shrink height 10 px or 10 ppt
        bindsym r resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        #bindsym 113 resize shrink width 10 px or 10 ppt
        #bindsym 116 resize grow height 10 px or 10 ppt
        #bindsym 111 resize shrink height 10 px or 10 ppt
        #bindsym 114 resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+o exec echo "" | wofi --height 1 --prompt "New name for this workspace" --show dmenu | xargs -r swaymsg rename workspace to

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    status_command ~/.config/sway/checkupdates
    position bottom
    workspace_buttons yes
    #mode hide
    #modifier Mod4

    colors {
	background #000000
	statusline #ffffff
	focused_workspace   #ffffff #285577 #ffffff
	active_workspace    #ffffff #333333 #ffffff
	inactive_workspace  #888888 #222222 #ffffff
	urgent_workspace    #ffffff #900000 #ffffff
    }
}

# enable touch to click
# input type:touchpad { # should try this
input 1739:30385:CUST0001:00_06CB:76B1_Touchpad {
  tap enabled
}

{{- if eq .chezmoi.hostname "intercepteur" }}
input type:keyboard {
  xkb_layout fr(bepo)
}
bindsym $mod+space exec /home/nrm/.config/sway/keymap.sh
{{- else }}
input type:keyboard {
  xkb_layout fr(bepo)
}
{{- end }}

# lockscreen
bindsym control+$mod+l exec $lock
bindsym $mod+Tab workspace back_and_forth

#Déplacement du workspace sur l'écran du coté
bindsym control+$mod+Right move workspace to right
bindsym control+$mod+Left move workspace to left

bindsym $mod+equal move scratchpad
bindsym $mod+Shift+equal scratchpad show

bindsym --locked XF86MonBrightnessDown exec brightnessctl set 10%-
bindsym --locked XF86MonBrightnessUp exec brightnessctl set 10%+

# control sound
bindsym --locked XF86AudioRaiseVolume exec pulseaudio-ctl up
bindsym --locked XF86AudioLowerVolume exec pulseaudio-ctl down
bindsym --locked XF86AudioMute exec pulseaudio-ctl mute

# control Music
bindsym --locked XF86AudioPlay exec "playerctl play-pause"
bindsym --locked XF86AudioPrev exec "playerctl previous"
bindsym --locked XF86AudioNext exec "playerctl next"
bindsym F9 exec pulseaudio-ctl mute-input

bindsym $mod+l exec touch /tmp/passwdlock | gopass ls --flat | wofi --show dmenu | xargs --no-run-if-empty gopass show -c

# screenshots
bindsym Print exec 'grim -g "$(slurp)" - | wl-copy'
#bindsym Print --release exec "scrot -s /tmp/screenshot-$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"
#bindsym Shift+Print exec "scrot /tmp/screenshot-$(date +%F_%T).png -e 'xclip -selection c -t image/png < $f'"


# floating windows
for_window [class="Pinentry"] floating enable
for_window [app_id="pavucontrol"] floating enable

# set opacity
bindsym $mod+Prior opacity plus 0.05
bindsym $mod+Next opacity minus 0.05
for_window [app_id="termite"] opacity 0.90

{{- if eq .chezmoi.hostname "intercepteur" }}
# toggling bluetooth
bindsym $mod+b exec /home/nrm/.config/sway/toggleBluetooth
{{- end }}

# assign windows to workspace
assign [class="Chromium"] $w8
assign [title=".*FFW9.*"] $w9
assign [title=".*FFW1.*"] $w1
assign [title="Sharing Indicator"] $w10
# MUST NOT leave empty line above else it won't work

output "*" bg /home/nrm/.config/sway/wallpaper.jpg fill

# exec swayidle \
#   timeout 150 $lock \
#   timeout 300 'swaymsg "output * dpms off"' \
#     resume 'swaymsg "output * dpms on"' \
#   before-sleep $lock

# notification daemon
exec mako

{{- if .work }}
exec "systemctl --user import-environment WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
exec firefox -p work
exec /home/nrm/.config/sway/headset.sh
{{- else if eq .chezmoi.hostname "intercepteur" }}
exec firefox
exec /home/nrm/.config/sway/shvnc/shvnc
{{- end }}


# run clipboard management watcher and bindsym
exec wl-paste -t text --watch /home/nrm/.config/sway/myclipman store
exec wl-paste -p -t text --watch /home/nrm/.config/sway/myclipman store -P
bindsym $mod+p exec "clipman pick -t wofi"
bindsym $mod+Shift+p exec "clipman clear -t wofi"

exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec swayidle -w timeout 300 'swaylock -f -c 40A497'
